html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template: 60px 1fr 60px / 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  background: $color1;
  color: $color5;
  padding: 5px;
  > img {
    height: 100%;
  }
  > h1 {
    margin: 10px;
    font-size: 0.8em;
  }
}
nav {
  background: $color1;
  display: flex;
  height: 100%;
  align-content: center;
  align-items: center;
  > a {
    color: $color2;
    flex: 1;
    text-align: center;
    &:hover {
      background: $color3;
    }
  }
}

main {
  background: $color5;
  h2 {
    text-align: center;
  }
}
