.offer-grid {
  display: grid;
  height: 100%;
  width: 100%;
  padding: 10px;
  grid-template: 30% 70% / 1fr;
  background: $color3;
}

.my-order {
  background: $color5;
  padding: 15px;
  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  > h3 {
    margin: 0;
    padding: 0;
  }
}

.my-order-sum {
  background: $color5;
  font-size: 0.7em;
  text-align: left;
}

.order-val {
  text-align: center;
}

.my-suggestions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

article.suggestion {
  height: 20%;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
  background: $color5;
  color: $color1;
  > i {
    text-align: center;
    color: $color1;
    font-size: 3em;
    margin: auto;
    padding: auto;
  }
  div {
    width: 70%;
    > h3 {
      font-size: 1rem;
      padding: 0;
      padding-bottom: 5px;
      margin: 0;
    }
    > p {
      margin: 0;
      padding: 0;
    }
  }
}
