main {
  background: $color5;
}
.profile {
  background: $color5;
  height: 150px;
  width: 100%;
}

div {
  display: grid;
  justify-content: row;
  align-items: center;
  padding: 7px;
}
.button-grid {
  background-color: $color3;
  display: flex;
  justify-items: row;
  text-align: center;
  font-size: 18px;
  justify-content: column;
}
#profile-menu {
  display: grid;
  grid-template-columns: 30px 1fr 20px;
  align-items: center;
}
.profile-buttons {
  background: $color2;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  align-content: end;
}
