main {
  background: $color5;
}
.profile {
  display: grid;
  height: 100%;
  widows: 100%;
}

div {
  display: grid;
  justify-content: row;
  align-items: center;
  padding: 7px;
}
.button-grid {
  background-color: $color3;
  display: flex;
  justify-items: row;
  text-align: center;
  font-size: 18px;
  justify-content: column;
}
